name: .NET build & test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    env:
      CONNECTION_STRING_TEMPLATE: Server=tcp:127.0.0.1,1433;Database={0};User Id=sa;Password=VeryStrong!P@ssword111;TrustServerCertificate=true
      
    services:
      sql:        
        image: mcr.microsoft.com/mssql/server:2019-latest
        env:
          SA_PASSWORD: VeryStrong!P@ssword111
          ACCEPT_EULA: Y          
        ports:
          - "1433:1433"
      postgis:
        image: postgis/postgis
        env:
          POSTGRES_PASSWORD: password 
        ports:         
          - 5432:5432

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x      
    - name: Restore dependencies
      run: dotnet restore OgcApi.Net.sln
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal